.mid{
  margin-bottom: 80px;
  .radio-container{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background: $color-3;
    border-radius: 60px;
    padding: 5px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
  }
  flex-direction: column;
  display: flex;
  align-items: center;
}